project = "DataPlatform"
department = "Data And Insight"
phase = "Discovery"
automation_build_url = "https://example.com"
confidentiality = "Restricted"
environment = "dev"
team = "DataEngineers"
application = "DataPlatform"
stack = "Core"
transit_gateway_availability_zones = ["eu-west-2a", "eu-west-2b", "eu-west-2c"]
transit_gateway_cidr = "10.120.30.0/24"
transit_gateway_private_subnets = ["10.120.30.0/26", "10.120.30.64/26", "10.120.30.128/26"]
rds_instance_ids = []
qlik_server_instance_type = "t3.xlarge"
qlik_ssl_certificate_domain = "qliksense-dev.hackney.gov.uk"
redshift_public_ips = [""]
redshift_port = 5439
emails_to_notify_with_budget_alerts = ["void@hackney.gov.uk"]
datahub_url = ""
rentsense_target_path              = "hackneylondonborough.beta/rent/"
# Below are the additional variables required for local development
aws_deploy_region = "eu-west-2"
aws_deploy_account_id = "" // For development we will use the DataPlatform - Development AWS Account
aws_hackit_account_id = "" // For development we will use the DataPlatform - Development AWS Account
aws_data_platform_account_id = "" // For development we will use the DataPlatform - Development AWS Account
aws_api_account_id = "" // For development we will use the Scratch AWS Account
aws_mosaic_prod_account_id = "" // For development we will use the Scratch AWS Account
aws_deploy_iam_role_name = "LBH_Automation_Deployment_Role"
google_project_id = "dataplatform-dev0"
email_to_notify = "name@hackney.gov.uk" // change this to your email to receive notifications when Glue jobs fail
aws_vpc_id = "" // For development we will use the DataPlatform - Development AWS Account (VPC: dataplatform-dev)
aws_dp_vpc_id = "" // For development we will use the DataPlatform - Development AWS Account (VPC: dataplatform-dev)
aws_api_vpc_id = "" // For development we will use the Scratch AWS Account (VPC: data-platform-dev1)
aws_housing_vpc_id = "" // For development we will use the Scratch AWS Account (VPC: data-platform-dev2)
aws_mosaic_vpc_id = "" // For development we will use the Scratch AWS Account (VPC: data-platform-dev3)
