.idea/
.terraform*
*.tfstate*
**/node_modules
lambdas/*/lib
lambdas/*/requirements.txt
lambdas/*/key_file.json
lambdas/*/venv
lambdas/*/*.zip
lambdas/*.zip
notebook/scripts/.ipynb_checkpoints/*
external-lib/target/*
env.tfvars
dev.tfvars
google_service_account_creds*.json
.DS_Store
*/.env
notebook/aws-config/credentials
.gitmessage
**/.venv
**/__pycache__
/venv/
.vscode/
**/*.log
**/plan.out
**/plan.out.json
__pycache__/
spark_events/
build/
dist/
*.egg-info
.pytest_cache
.venv
/build/
/dist/
/terraform/modules/copy-from-s3-to-s3/copy-from-s3-to-s3.zip
/terraform/modules/kafka-event-streaming/local-testing/list-topics.json
/terraform/modules/kafka-event-streaming/local-testing/send-message-to-topic.json
/scripts/logs/
/scripts/tests/test_person_matching.py
/lambdas/vonage_api_ingestion/messbook.py
.pre-commit-config.yaml
