* text=auto eol=lf

*.tf text eol=lf
*.tfvars text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.py text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary