pytest-watch
freezegun
pytest-mock
pydeequ
urllib3>=1.25.4,<1.27
# add redshift connector here to pass CI / Test Python Jobs & Lambda Functions
redshift-connector==2.1.0 # used to connect with redshift
