project = "DataPlatform"
department = "HackIT"
phase = "Discovery"
automation_build_url = "https://example.com"
confidentiality = "Restricted"
environment = "dev"
team = "DataEngineers"
application = "DataPlatform"
stack = "Core"
aws_deploy_region = "eu-west-2"
aws_api_account = ""
aws_deploy_account = ""
aws_deploy_iam_role_name = ""
google_project_id = ""
assume_roles = []
transit_gateway_cidr	= 10.120.30.0/24
