name: Test and Validate
env:
  aws_deploy_region: "eu-west-2"

on:
  workflow_call:
    inputs:
      automation_build_url:
        default: "https://github.com/LBHackney-IT/data-platform/actions/workflows/data_platform_stg.yml"
        required: false
        type: string
      environment:
        default: "stg"
        required: false
        type: string
      build_path:
        required: true
        type: string
      terraform_state_s3_key_prefix:
        required: true
        type: string
      terraform_state_file_name:
        required: true
        type: string
    secrets:
      google_project_id:
        required: true
      aws_deploy_account_id:
        description: "ID of Account being deployed to"
        required: true
      INFRASTRUCTURE_PRIVATE_KEY:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_API_ACCOUNT_PROD:
        required: true
      AWS_MOSAIC_PROD_ACCOUNT_ID:
        required: true
      AWS_DATA_PLATFORM_ACCOUNT_ID:
        required: true
      AWS_HACKIT_ACCOUNT_ID:
        required: true
      AWS_ROLE_TO_ASSUME:
        required: true
      AWS_API_VPC_ID:
        required: true
      AWS_HOUSING_VPC_ID:
        required: true
      AWS_MOSAIC_VPC_ID:
        required: true
      AWS_DP_VPC_ID:
        required: true
      GOOGLE_CREDENTIALS:
        required: true
      COPY_LIBERATOR_TO_PRE_PROD_LAMBDA_EXECUTION_ROLE:
        required: true
      SYNC_PRODUCTION_TO_PRE_PRODUCTION_TASK_ROLE:
        required: true
      PRE_PRODUCTION_LIBERATOR_DATA_STORAGE_KMS_KEY_ARN:
        required: true
      REDSHIFT_CIDR_INGRESS_RULES_FOR_BI_TOOLS:
        required: true

jobs:
  lint:
    name: Terraform Lint
    runs-on: ubuntu-latest
    #environment: ${{ inputs.environment }}
    env:
      REDSHIFT_CIDR_INGRESS_RULES_FOR_BI_TOOLS: ${{ secrets.REDSHIFT_CIDR_INGRESS_RULES_FOR_BI_TOOLS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v1.2.1
        with:
          terraform_version: 1.2.0

      - name: Add a key to allow access to Infastructure
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          echo "${{ secrets.INFRASTRUCTURE_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa ~/.ssh/known_hosts

      - name: Install tflint
        run: |
          curl -L "$(curl -Ls https://api.github.com/repos/terraform-linters/tflint/releases/69867754 | grep -o -E "https://.+?_linux_amd64.zip")" -o tflint.zip && unzip tflint.zip && rm tflint.zip

      - name: Configuring AWS credentials
        working-directory: ${{ inputs.build_path }}
        run: |
          aws configure set region eu-west-2 > /dev/null 2>&1
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }} > /dev/null 2>&1
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }} > /dev/null 2>&1
          terraform init -backend-config="region=eu-west-2" -backend-config="dynamodb_table=lbhackney-terraform-state-lock" -backend-config="encrypt=true" -backend-config="workspace_key_prefix=${{ inputs.terraform_state_s3_key_prefix }}" -backend-config="bucket=lbhackney-terraform-state" -backend-config="key=${{ inputs.terraform_state_s3_key_prefix }}/${{ inputs.terraform_state_file_name }}"

      - name: Run `tflint` on ${{ inputs.build_path }}
        working-directory: ${{ inputs.build_path }}
        run: |
          terraform init -backend=false
          ../../tflint --init --config="../config/.tflint.hcl"
          ../../tflint --var-file='../config/stg.tfvars'  --var 'aws_deploy_region=${{ env.aws_deploy_region }}' --var 'aws_deploy_account_id=${{ secrets.aws_deploy_account_id }}' --var 'aws_api_account_id=${{ secrets.AWS_API_ACCOUNT_PROD }}' --var 'aws_hackit_account_id=${{ secrets.AWS_HACKIT_ACCOUNT_ID }}' --var 'aws_deploy_iam_role_name=${{ secrets.AWS_ROLE_TO_ASSUME }}' --var 'environment=${{ inputs.environment }}' --var 'google_project_id=${{ env.google_project_id }}' --var 'automation_build_url=${{ inputs.automation_build_url }}' --var 'aws_api_vpc_id=${{ secrets.AWS_API_VPC_ID }}' --var 'copy_liberator_to_pre_prod_lambda_execution_role=${{ secrets.COPY_LIBERATOR_TO_PRE_PROD_LAMBDA_EXECUTION_ROLE }}' --var 'sync_production_to_pre_production_task_role=${{ secrets.SYNC_PRODUCTION_TO_PRE_PRODUCTION_TASK_ROLE }}' --var 'pre_production_liberator_data_storage_kms_key_arn=${{ secrets.PRE_PRODUCTION_LIBERATOR_DATA_STORAGE_KMS_KEY_ARN }}' --var 'redshift_cidr_ingress_rules_for_bi_tools=${{ secrets.REDSHIFT_CIDR_INGRESS_RULES_FOR_BI_TOOLS }}' --module --config="../config/.tflint.hcl" --loglevel=warn .
